<div class="reply_text">
    {% for reply in reply_list %}
    <article class="uk-comment uk-comment-primary uk-visible-toggle" tabindex="-1">
        <header class="uk-comment-header uk-position-relative">
            <div class="uk-grid-medium uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-comment-avatar" src="images/avatar.jpg" width="80" height="80" alt="">
                </div>
                <div class="uk-width-expand">
                    <strong class="uk-comment-title uk-margin-remove">{{ reply.author }}</strong>
                    <span class="timestamp">{{ comment.timestamp|date:"y/n/j H:i" }}</span>
                </div>
            </div>
            <div class="uk-position-bottom-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="{% url 'sns:reply_create' comment.pk %}">Reply</a></div>
        </header>
        <div class='comment_text'>
            <p>{{ reply.text }}</p>
            {% if user.is_superuser or comment.author.username == user.username %}
                <a href="{% url 'sns:comment_remove' reply.pk %}">削除</a>
            {% endif %}
        </div>
                {% with reply_list=reply.comment_set.all %}
                    {% include 'sns/includes/reply.html' %}
                {% endwith %}
    </article>
    {% endfor %}
</div>