<div class="reply_text">
    {% for reply in reply_list %}
    <article class="uk-comment uk-comment-primary uk-visible-toggle" tabindex="-1">
        <header class="uk-comment-header uk-position-relative">
            <div class="uk-grid-medium uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-comment-avatar" src="images/avatar.jpg" width="80" height="80" alt="">
                </div>
                <div class="uk-width-expand">
                    <strong class="uk-comment-title uk-margin-remove">{{ reply.author }}</strong>
                    <span class="timestamp">{{ comment.timestamp|date:"y/n/j H:i" }}</span>
                </div>
            </div>
        </header>
        <div class='comment_text'>
            <p>{{ reply.text }}</p>
        </div>
        <div class="comment_icon">
            {% if user.is_superuser or reply.author.username == user.username %}
                <a uk-icon="icon: trash"href="{% url 'sns:comment_remove' reply.pk %}"></a>
            {% endif %}
            {% if user.is_authenticated %}
                <a uk-icon="icon: reply" href="{% url 'sns:reply_create' comment.pk %}"></a>
            {% endif %}
        </div>
        {% with reply_list=reply.comment_set.all %}
            {% include 'sns/includes/reply.html' %}
        {% endwith %}
    </article>
    {% endfor %}
</div>