{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/><!--IE対策：互換表示させない。-->
    <title>DOBOKU_SNS</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/css/uikit.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit-icons.min.js"></script>
</head>

<body>
<header class="title-header">
    <h1>
        <a href="{% url 'sns:index' %}" class='title'>DOBOKU_Post</a>
    </h1>
    <nav>
        {% include 'parts/header.html' %}
    </nav>
</header>

{% block content %}{% endblock %}

</body>
</html>
