{% extends 'registration/base.html' %}
{% load widget_tweaks %}


{% block content %}
<div class="uk-section uk-flex uk-flex-middle uk-animation-fade">
    <div class="uk-width-1-1">
        <div class="uk-container">
            <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                <div class="uk-width-1-1@m">
                    <div
                        class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                        <h2 class="uk-card-title uk-text-center">プロフィール編集</h2>
                        <form method="post" enctype="multipart/form-data">{% csrf_token %}
                            {{ form.non_field_errors }}
                            <div uk-form-custom>
                                <div class="uk-placeholder uk-text-center">
                                    {{ form.icon_image }}
                                    <div class="preview">
                                        {{ form.media }}
                                        <img id="icon_image-preview">
                                    </div>
                                    <div class="camera-choice">
                                        <div class="camera-icon" uk-icon="icon: camera; ratio: 5"></div>
                                        <p>画像を選択してください</p>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    {#                                        <label for="{{ form.username.id_for_label }}">Username:</label>#}
                                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                                    {{ form.username|attr:"class:uk-input uk-form-large"|attr:"placeholder:ユーザー名" }}
                                    {{ form.username.errors }}
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                    {{ form.email|attr:"class:uk-input uk-form-large"|attr:"placeholder:メールアドレス" }}
                                    {{ form.email.errors }}
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: file-edit"></span>
                                    {{ form.introduction|attr:"class:textarea-input uk-textarea uk-form-large"|attr:"rows:5"|attr:"placeholder:自己紹介文" }}
                                    {{ form.introduction.errors }}
                                </div>
                            </div>
                            <div class="uk-margin">
                                <button class="uk-button uk-button-primary uk-button-large uk-width-1-1"
                                    type="submit">変更を保存する
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
