{% extends 'base.html' %}

{% block content %}
<h4>「{{ category.name }}」の投稿一覧</h4>
<p>
    <a href="{% url 'sns:category_post' category.slug 0 %}">新しい順</a>
    <a href="{% url 'sns:category_post' category.slug 1 %}">古い順</a>
</p>
<div class="uk-grid-small uk-child-width-1-3@m" uk-grid>
    {% for post in object_list %}
    <div>
        <div class="uk-card uk-card-hover uk-card-default" id="card">
            <a href="{% url 'sns:post_detail' post.id %}">
                <div class="uk-card-media-top">
                    {% if post.image %}
                    <img src="{{ post.image.url }}" width="100%" height="50%">
                    {% endif %}
                </div>
                <div class="uk-card-body">
                    <header class="uk-comment-header uk-position-relative">
                        <div class="">
                            <a class="show_user" href="{% url 'sns:my_page' post.author.id %}">
                                <div class="">
                                    <img class="user_icon" src="{{ post.author.icon_image.url }}">
                                    <strong class="uk-comment-title uk-margin-remove">{{ post.author }}</strong>
                                </div>
                            </a>
                            <div class="timestamp">
                                <span>{{ post.published_at|date:"y/n/j H:i" }}</span>
                            </div>
                        </div>
                    </header>
                    <p>{{ post.title }}</p>
                    <p class="post_content">
                        <span>-- </span>{{ post.content }}
                    </p>
                    <div>
                        <i id="heart-button" uk-icon="heart"></i>
                        <span id="like-count">{{ post.like.count }}</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block aside %}
<!--検索フォーム-->
<div class="uk-margin">
    <form class="uk-search uk-search-default" action="" method="get">
        <a type="submit" uk-search-icon></a>
        <input class="uk-search-input" name="query" value="{{ request.GET.query }}" type="search"
            placeholder="Search...">
    </form>
</div>
<!--検索フォーム-->

<h3>カテゴリー</h3>
<ul class="uk-nav uk-nav-default">
    <ul>
        <li class="uk-nav-divider"></li>
        {% for category in category_list %}
        <li>
            <a href="{% url 'sns:category_post' category.slug %}">{{ category }}</a>
        </li>
        <li class="uk-nav-divider"></li>
        {% endfor %}
    </ul>
    <div>

    </div>
</ul>
{% endblock %}
