{% extends 'sns/base.html' %}

{% block content %}
<section class="common-form">
    <h1>新規投稿</h1>
    <form method="post" enctype="multipart/form-data">
        <h3>{{ user.get_username }}さん</h3>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="js-upload uk-placeholder uk-text-center">
            <span uk-icon="icon: cloud-upload"></span>
            <span class="uk-text-middle">Attach binaries by dropping them here or</span>
            <div uk-form-custom>
                <input type="file" multiple>
                <span class="uk-link">selecting one</span>
            </div>
        </div>
        <button type="submit" class="submit">Submit</button>
    </form>
</section>
{% endblock %}
