{% extends 'sns/base.html' %}

{% block content %}
    <div class="uk-grid-column-small uk-grid-row-large" uk-grid>
    {% for post in object_list %}
        <div class="uk-card uk-card-default uk-card-body">
            <p class='uk-text-lead'>{{ post.title }}</p>
            <img src="{{post.image.url}}" width="350">
            <p class="auther">{{ post.author }}</p>
            <p>{{ post.content }}</p>
            <p>{{ post.published_at }}</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}
