{% extends 'base.html' %}

{% block content %}
<div>
    <h2>{{ user.username }}さんのマイページ</h2>
    <h3>これまでの投稿</h3>
    <div class="uk-child-width-1-3@m" uk-grid>
        {% for post in user_post %}
            <div>
                <div class="uk-card uk-card-hover uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="{{post.image.url}}" width="100%">
                    </div>
                    <div class="uk-card">
                        <p class="">{{ post.title }}</p>
                        <p>{{ post.content }}</p>
                        <p>{{ post.published_at }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
