{% extends 'base.html' %}

{% block content %}
<div>
    <div id="profile_card" class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
        <div class="uk-width-1-4">
            <div class="uk-card-media-left uk-cover-container">
                <img class="mypage_user_icon" src="{{ author.icon_image.url }}" uk-cover>
                <canvas width="500" height="500"></canvas>
            </div>
        </div>
        <div class="uk-width-3-4">
            <div class="uk-card-body">
                <h1 class="uk-heading-medium"><strong class="uk-margin-remove">{{ author }}</strong>
                </h1>
                <div class="profile_content">
                    <p>{{ author.introduction }}</p>
                </div>
                <p class="profile_edit_button" uk-margin>
                    <a class="uk-button uk-button-default"
                        href="{% url 'accounts:profile_edit' author.id %}">プロフィール編集</a>
                </p>
            </div>
        </div>
    </div>
    {% comment %} <header class="uk-comment-header uk-position-relative">
        <div class="">
            <a class="show_user" href="{% url 'sns:my_page' author.id %}">
                <div class="">
                    <img class="user_icon" src="{{ author.icon_image.url }}">
                    <strong class="uk-comment-title uk-margin-remove">{{ author }}</strong>
                </div>
            </a>
        </div>
    </header> {% endcomment %}
    <ul class="uk-flex-center" uk-tab>
        <li>
            <a href="">
                <p class="uk-text-large">これまでの投稿</p>
            </a>
        </li>
        <li>
            <a href="">
                <p class="uk-text-large">いいねした投稿</p>
            </a>
        </li>
        <li>
            <a href="">
                <p class="uk-text-large">カテゴリ</p>
            </a>
        </li>
    </ul>

    {% comment %} <p>
        <a href="">新しい順</a>
        <a href="">古い順</a>
    </p> {% endcomment %}
    <ul class="uk-switcher uk-margin">
        <li>
            <div class="uk-grid-small uk-child-width-1-3@m" uk-grid>
                {% for post in user_post %}
                <div>
                    <div class="uk-card uk-card-hover uk-card-default" id="card">
                        <a href="{% url 'sns:post_detail' post.id %}">
                            <div class="uk-card-media-top">
                                {% if post.image %}
                                <img src="{{ post.image_change.url }}">
                                {% endif %}
                            </div>
                            <div class="uk-card-body">
                                <header class="uk-comment-header uk-position-relative">
                                    <div class="">
                                        <a class="show_user" href="{% url 'sns:my_page' post.author.id %}">
                                            <div class="">
                                                <img class="user_icon" src="{{ post.author.icon_image.url }}">
                                                <strong
                                                    class="uk-comment-title uk-margin-remove">{{ post.author }}</strong>
                                            </div>
                                        </a>
                                        <div class="timestamp">
                                            <span>{{ post.published_at|date:"y/n/j H:i" }}</span>
                                        </div>
                                    </div>
                                </header>
                                <p>{{ post.title }}</p>
                                <p class="post_content">
                                    <span>-- </span>{{ post.content }}</p>
                                <div>
                                    <div class="like_left">
                                        <div>
                                            <i id="heart-button" uk-icon="comment"></i>
                                            <span id="comment-count">{{ post.comment_set.count }}</span>
                                            <i id="heart-button" uk-icon="heart"></i>
                                            <span id="like-count">{{ post.like.count }}</span>
                                        </div>
                                    </div>
                                    <div class="comment_icon">
                                        {% if user.is_superuser or post.author.username == user.username %}
                                        <span class="more-icon" uk-icon="icon: more"></span>
                                        <div uk-drop="pos: left-center; mode:click">
                                            <a uk-icon="icon: pencil" href="{% url 'sns:my_page_edit' post.pk %}"></a>
                                            <a uk-icon="icon: trash" href="#modal{{ post.pk }}" uk-toggle></a>
                                            <div id="modal{{ post.pk }}" uk-modal>
                                                <div class="uk-modal-dialog uk-modal-body">
                                                    <h2 class="uk-modal-title">
                                                        投稿削除確認
                                                    </h2>
                                                    <p>
                                                        投稿: {{ post.title }} を削除します。よろしいですか？
                                                    </p>
                                                    <p class="uk-text-right">
                                                        <button class="uk-button uk-button-default uk-modal-close"
                                                            type="button">
                                                            キャンセル
                                                        </button>
                                                        <a href="{% url 'sns:my_page_remove' post.pk %}">
                                                            <button class="uk-button uk-button-primary" type="button"
                                                                %}>
                                                                OK
                                                            </button>
                                                        </a>

                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </li>
        <li>
            ああ
        </li>
        <li>
            いい
        </li>
    </ul>
</div>
{% endblock %}
