{% extends 'base.html' %}

{% block content %}
<div>
    <h2>{{ author }}さんのマイページ</h2>
    <h3>これまでの投稿</h3>
    <p>
        <a href="">新しい順</a>
        <a href="">古い順</a>
    </p>
    <div class="uk-grid-small uk-child-width-1-3@m" uk-grid>
        {% for post in user_post %}
            <div>
                <div class="uk-card uk-card-hover uk-card-default" id="card">
                    <a href="{% url 'sns:post_detail' post.id %}">
                        <div class="uk-card-media-top">
                            <img src="{{post.image.url}}" width="100%" height="50%">
                        </div>
                        <div class="uk-card-body">
                            <a href="{% url 'sns:my_page' post.author.id %} ">
                                <p class='post_author'>{{ post.author }}</p>
                            </a>
                            <p>{{ post.title }}</p>
                            <p class="content">- {{ post.content }}</p>
                            <li class="time">{{ post.published_at|date:"y/n/j H:i" }}</li>
                            <a href="{% url 'sns:good' post.pk%}" uk-icon="icon: heart; ratio: 1"></a> {{ post.good }}
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
