{% extends 'base.html' %}

{% block content %}
    <h2>{{ object.title }}</h2>
    <img src="{{object.image.url}}" width="80%" height="50%"  id="card_top">
    <p>{{ object.author }}</p>
    <p>{{ object.content }}</p>
{% endblock %}

{% block aside %}
    <article class="">
        <a class="" href="{% url 'sns:comment_form' post.pk %}">コメントを投稿する</a>
    </article>
    {% for comment in post.comments.all %}
    <strong>{{ comment.author }}</strong>・{{ comment.timestamp|date:"y/n/j H:i" }}
    <p>{{ comment.text|linebreaksbr }}</p>
    <p>
        <a href="{% url 'sns:reply_form' comment.pk %}">返信する</a>
    </p>
    {% endfor %}
    {% for reply in comment.replies.all %}
    <div class="reply ml-5">
    <strong>{{ reply.author }}</strong>・{{ reply.timestamp }}
    <p>{{ reply.text|linebreaksbr }}</p>
    </div>
    {% endfor %}

{% endblock %}
