{% extends 'registration/base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="uk-width-1-1">
        <div class="uk-container">
            <div class="uk-grid-margin uk-grid-stack">
                <div class="uk-width-1-1@m">
                    <div class="uk-margin uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large"
                    >
                        <h2 class="uk-card-title uk-text-center">新規投稿</h2>
                        <form method="post"
                              enctype="multipart/form-data">{% csrf_token %}
                            <div uk-grid>
                                <div class="uk-width-1-2">
                                    <div uk-form-custom>
                                        <div class="uk-placeholder uk-text-center">
                                            {{ form.image|attr:"class:image-uploader" }}
                                            <div class="camera-choice">
                                                <div class="camera-icon" uk-icon="icon: camera; ratio: 5"></div>
                                                <p>画像を選択してください</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {#                                    <div uk-form-custom>#}
                                {#                                    {{ form.image }}#}
                                {#                                        <button class="uk-button uk-button-default"#}
                                {#                                                type="button" tabindex="-1">#}
                                {#                                            Select#}
                                {#                                        </button>#}
                                {#                                    </div>#}
                                <div class="uk-width-1-2">
                                    <div class="uk-margin">
                                        <div class="uk-inline uk-width-1-1">
                                            <label for="{{ form.category.id_for_label }}">カテゴリ</label>
                                            {{ form.category|attr:"class:uk-select" }}
                                            {{ form.category.errors }}
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-inline uk-width-1-1">
                                            <label for="{{ form.title.id_for_label }}">タイトル</label>
                                            {{ form.title|attr:"class:uk-input" }}
                                            {{ form.title.errors }}
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-inline uk-width-1-1">
                                            <label for="{{ form.content.id_for_label }}">キャプション</label>
                                            {{ form.content|attr:"class:uk-textarea"|attr:"rows: 5" }}
                                            {{ form.content.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {#                            <script>#}
                            {##}
                            {#                                var bar = document.getElementById('js-progressbar');#}
                            {##}
                            {#                                UIkit.upload('.js-upload', {#}
                            {##}
                            {#                                    url: '',#}
                            {#                                    multiple: true,#}
                            {##}
                            {#                                    beforeSend: function () {#}
                            {#                                        console.log('beforeSend', arguments);#}
                            {#                                    },#}
                            {#                                    beforeAll: function () {#}
                            {#                                        console.log('beforeAll', arguments);#}
                            {#                                    },#}
                            {#                                    load: function () {#}
                            {#                                        console.log('load', arguments);#}
                            {#                                    },#}
                            {#                                    error: function () {#}
                            {#                                        console.log('error', arguments);#}
                            {#                                    },#}
                            {#                                    complete: function () {#}
                            {#                                        console.log('complete', arguments);#}
                            {#                                    },#}
                            {##}
                            {#                                    loadStart: function (e) {#}
                            {#                                        console.log('loadStart', arguments);#}
                            {##}
                            {#                                        bar.removeAttribute('hidden');#}
                            {#                                        bar.max = e.total;#}
                            {#                                        bar.value = e.loaded;#}
                            {#                                    },#}
                            {##}
                            {#                                    progress: function (e) {#}
                            {#                                        console.log('progress', arguments);#}
                            {##}
                            {#                                        bar.max = e.total;#}
                            {#                                        bar.value = e.loaded;#}
                            {#                                    },#}
                            {##}
                            {#                                    loadEnd: function (e) {#}
                            {#                                        console.log('loadEnd', arguments);#}
                            {##}
                            {#                                        bar.max = e.total;#}
                            {#                                        bar.value = e.loaded;#}
                            {#                                    },#}
                            {##}
                            {#                                    completeAll: function () {#}
                            {#                                        console.log('completeAll', arguments);#}
                            {##}
                            {#                                        setTimeout(function () {#}
                            {#                                            bar.setAttribute('hidden', 'hidden');#}
                            {#                                        }, 1000);#}
                            {##}
                            {#                                        alert('Upload Completed');#}
                            {#                                    }#}
                            {##}
                            {#                                });#}
                            {##}
                            {#                            </script>#}
                            <div class="uk-margin">
                                <button class="uk-button uk-button-primary uk-button-large uk-width-1-1 post-button"
                                        type="submit">
                                    投稿
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

