{% if user.is_authenticated %}
<ul class='header'>
    <li>
        <div class="uk-grid-medium uk-flex-middle" uk-grid>
            <div class="">
                <a class="show_user" href="{% url 'sns:my_page' %}">
                    <div class="">
                        <img class="user_icon" src="{{ user.icon_image.url }}">
                        <strong class="uk-comment-title uk-margin-remove">{{ user.get_username }}</strong>
                    </div>
                </a>
            </div>
        </div>
    </li>
</ul>

<ul class='header'>
    <li class='header'><a href="{% url 'sns:my_page' %}" class='username'>マイページ</a>
    </li>
    <li class='header'><a href="{% url 'sns:form_view' %}" class='username'>投稿する</a>
    </li>
    <li class='header logout'><a href="#modal-logout" class="logout" uk-toggle>ログアウト</a></li>
</ul>
<div id="modal-logout" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">ログアウト確認</h2>
        <p>ログアウトします。よろしいですか？</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">キャンセル
            </button>
            <a href="{% url 'logout' %}">
                <button class="uk-button uk-button-primary" type="button" %}>OK
                </button>
            </a>
        </p>
    </div>
</div>
{% else %}
<ul class='header'>
    <li class='header'><a href="{% url 'accounts:signup' %}" class="signup">新規登録</a>
    </li>
    <li class='header'><a href="{% url 'login' %}" class="login">ログイン</a>
    </li>
</ul>
{% endif %}
