{% if user.is_authenticated %}
<ul class='header'>
    <li>
        <div class="uk-grid-medium uk-flex-middle" uk-grid>
            <a href="{% url 'sns:form_view' %}" class='header_post'>
            <i id="header_post_icon" uk-icon="pencil"></i>投稿する</a>
            <div class="uk-inline">
                <a class="show_user">
                    <div class="uk-card header_user_buttonuk-margin">
                        <img class="user_icon" src="{{ user.icon_image.url }}">
                        {{ user.get_username }}
                        <i id="chevron-down" uk-icon="chevron-down"></i>
                    </div>
                </a>
                <div uk-dropdown="pos: bottom-center; mode: click">
                    <div class="dropdown">
                        <a href="{% url 'sns:my_page' %}" class='username'>
                            <i id="mypage_icon" uk-icon="user"></i>マイページ
                        </a>
                    </div>
                    <div class="dropdown">
                        <a href="#modal-logout" class="logout" uk-toggle>
                            <i id="logout_icon" uk-icon="sign-out"></i>ログアウト
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>

<div id="modal-logout" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">ログアウト確認</h2>
        <p>ログアウトします。よろしいですか？</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">キャンセル
            </button>
            <a href="{% url 'logout' %}">
                <button class="uk-button uk-button-primary" type="button" %}>OK
                </button>
            </a>
        </p>
    </div>
</div>
{% else %}
<ul class='header'>
    <li class='header'>
        <a href="{% url 'accounts:signup' %}" class="signup">
            <i id="signup_icon" uk-icon="plus-circle"></i>新規登録
        </a>
    </li>
    <li class='header'>
        <a href="{% url 'login' %}" class="login">
            <i id="login_icon" uk-icon="sign-in"></i>ログイン
        </a>
    </li>
</ul>
{% endif %}
